/*! Warning: DO NOT DELETE THIS FILE! I REPEAT, DO NOT DELETEE THIS FILE!!!! */

.username-greet {
  background: linear-gradient(90deg, #6cebc1 30%, #5b8e7d);
  color: var(--color-sec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigation-bar {
  padding: 8px;
  border-radius: 8px;
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  background-color: var(--color-sec);

  .option {
    width: 64px;
    height: 64px;

    background-color: #000a;
    border-radius: 8px;

    transition: all 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .option.active {
    background-color: var(--color-prim);
    box-shadow: #0007 0px 2px 5px;

    --color: var(--color-sec);
  }

  .option:not(.active):hover {
    background-color: #0005;
    cursor: pointer;

    transition: all 0s;
  }

  span {
    color: var(--color);
  }

  .running-bar {
    position: absolute;
    right: -3px;
    width: 6px;
    height: 42px;

    background-color: var(--color-prim);
    border-radius: 14px;
  }

  .sep {
    margin: 2px 0;
    width: 48px;
    border: 1px solid #0006;
  }
}

.custom-table {
  border-collapse: collapse;

  tr {
    height: 60px;
    padding: 16px;
    display: table-row;

    border-bottom: 1px solid #fff2;
    margin: 14px 0;
  }

  td:last-child,
  th:last-child {
    /* border-radius: 0 8px 8px 0; */
    padding-right: 16px;
  }

  th:first-child,
  td:first-child {
    /* border-radius: 8px 0 0 8px; */
    padding-left: 16px;
  }

  .dft-btt {
    padding: 12px;
    opacity: 0;

    display: inline-block;
    margin: 0 4px;
  }

  thead tr {
    border-bottom: 1px solid #fff;
    background-color: var(--color-prim);
    color: #000;

    position: sticky;
    top: 0px;

    z-index: 5;
  }

  tbody tr:hover {
    background-color: #fff2;
  }

  tbody tr:hover .dft-btt {
    padding: 12px;
    opacity: 1;
  }

  .trivia {
    font-size: 0.9em;
  }

  tr.active {
    background-color: var(--color-sec) !important;
  }
}

.card-list {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */

  /* row-gap: 10px; */

  gap: 32px;
}

.test-cover {
  background-color: var(--color-prim);
  background-image: url("../public/assets/logo.svg");

  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
}

.scale-big {
  transition: transform 0.1s;
}

.scale-big:active {
  transform: scale(1.06);
}

.frame {
  background-color: #242424;

  padding: 16px;
  border-radius: 8px;
}

.frame.border {
  border: 2px solid var(--color-prim);
}

.frame.clickable:hover {
  transform: translateY(-4px);
}

.frame.clickable:active {
  transform: translateY(-1px);
}

.hover-bright:hover {
  background-color: #fff1;
  cursor: pointer;
}

.hover-bright:active {
  background-color: #fff4;
}

.prog {
  display: flex;
  align-items: center;
  gap: 8px;

  .bar {
    flex: 1;
    height: 100%;
    border-radius: 3px;

    background-color: #fff6;
  }

  .s-0 {
    background-color: var(--color-tert-1);
  }

  .s-1 {
    background-color: var(--color-ok);
  }

  .s-4 {
    background-color: var(--color-sec);
  }
}
