.app-wrapper {
  > .content-wrapper {
    width: 100%;
    height: 100%;

    overflow: hidden;
    max-width: 1200px;
  }

  > .content-wrapper.scrollable {
    overflow-y: auto;
    background-color: #fff;
  }
}
