.dft-input-frame {
  border: 2px solid var(--color);
  border-radius: 8px;
  position: relative;

  > textarea,
  > input {
    width: calc(100% - 32px);
    height: calc(100% - 32px);

    font-family: inherit;
    font-size: inherit;
    font-weight: 600;

    color: inherit;

    padding: 16px;

    background: none;
    outline: none;
    border: none;

    resize: none;
  }
}

.dft-input-frame:has(input:focus) {
  border-color: var(--color-prim);
}

.dft-input-frame.textarea {
  padding: 0 0 32px 0;
}
